name: Deploy Python Sniffer and Node.js

on:
  push:
    branches:
      - main

jobs:
  deploy-on-juli:
    runs-on: juli
    
    steps:
    - uses: actions/checkout@v2
      with:
        clean: true
        submodules: false  # Desactivar la actualización de submódulos
    
    - name: Restart Python Sniffer
      run: |
        sudo pm2 restart python-sniffer
      
    - name: Restart Node.js server
      run: |
        sudo pm2 restart node-app

  deploy-on-mlcuentas:
    runs-on: mlcuentas 
    
    steps:
    - uses: actions/checkout@v2
      with:
        clean: true
        submodules: false  # Desactivar la actualización de submódulos
        
    
    - name: Deploy and Restart Python Sniffer
      run: |
        sudo pm2 restart python-sniffer || pm2 start Sniffer_prueba.py --name python-sniffer --interpreter python3 --watch
        

    - name: Deploy and Restart Node.js server
      run: |
        sudo pm2 restart node-app || pm2 start server.js --name node-app --watch
        

  deploy-on-Sebastian:
    runs-on: Sebastian
    steps:
    - uses: actions/checkout@v2
      with:
        clean: true
        submodules: false  # Desactivar la actualización de submódulos
    
    - name: Deploy and Restart Python Sniffer
      run: |
        sudo pm2 restart python-sniffer || pm2 start Sniffer_prueba.py --name python-sniffer --interpreter python3 --watch
      
    - name: Deploy and Restart Node.js server
      run: |
        sudo pm2 restart node-app || pm2 start server.js --name node-app --watch


  deploy-on-spantoja23:
    runs-on: spantoja23
    steps:
    - uses: actions/checkout@v2
      with:
        clean: true
        submodules: false  # Desactivar la actualización de submódulos
    
    - name: Deploy and Restart Python Sniffer
      run: |
        sudo pm2 restart python-sniffer || pm2 start Sniffer_prueba.py --name python-sniffer --interpreter python3 --watch
      
    - name: Deploy and Restart Node.js server
      run: |
        sudo pm2 restart node-app || pm2 start server.js --name node-app --watch
 
